@import url('normalize.css');

* {
    box-sizing: border-box;
}

body {
    background-color: #621402;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.container {
    margin: auto;
    max-width: 1170px;
    width: 90%;
}

.header {
    padding-bottom: 60px;
    background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url('../img/bg.jpg') no-repeat center top / cover;
}

.navbar {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.nav {
    position: relative;
}

.m-menu {
    display: none;
}

.menu {
    display: flex;
    margin: 0;
    margin-left: 17px;
    list-style-type: none;
}

.menu-item {
    margin-right: 25px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-link {
    text-decoration: none;
    color: #fff;
}

.user {
    display: flex;
    margin-left: auto;
    align-items: center;
    color: #fff;
}

.avatar {
    margin-left: 11px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.film {
    display: flex;
    margin-top: 60px;
    align-items: center;
    color: #fff;
}

.film-title-small {
    font-size: 24px;
    line-height: 1.5;
    opacity: 0.5;
}

.film-title {
    margin-top: 11px;
    margin-bottom: 23px;
    font-size: 36px;
    line-height: 42px;
}

.film-description {
    max-width: 560px;
    font-size: 16px;
    line-height: 1.5;
}

.film-details {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.film-trailer {
    margin: auto;
}

.time {
    display: flex;
    align-items: center;
}

.time-icon {
    margin-right: 14px;
}

.rating {
    display: flex;
    align-items: center;
    margin-left: 34px;
}

.rating-icon {
    margin-right: 14px;
}

.rating-current {
    font-size: 24px;
    line-height: 1.5;
}

.session {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 62px;
    padding-top: 46px;
    padding-bottom: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.session-label {
    display: block;
    margin-bottom: 20px;
}

.session-date-block {
    display: flex;
}

.session-date-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    width: 90px;
    height: 90px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    transition: all 0.2s ease-out;
}

.session-date-item:hover {
    color: #621402;
    background-color: #FE8E05;
}

.session-month {
    font-size: 16px;
    line-height: 19px;
}

.session-day {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
}

.session-week {
    font-size: 19px;
    line-height: 22px;
}

.select {
    margin-top: 15px;
    padding: 18px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.select:focus {
    outline: none;
}

.select-cinema {
    width: 470px;
}

.scheme {
    margin-bottom: 40px;
    background: rgba(36, 36, 36, 0.18);
    border-radius: 10px;
}

.scheme-svg {
    max-width: 1170px;
}

.scheme path:not(.light) {
    fill: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.scheme path:not(.light):hover {
    fill: rgba(255, 255, 255, 0.5);
}

.scheme path.booked,
.scheme path.booked:hover {
    fill: rgba(255, 255, 255, 0.05);
    cursor: not-allowed;
}

.legend {
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 22px;
    padding-bottom: 38px;
    max-width: 1024px;
    width: 90%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.legend-label {
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.legend svg {
    margin-right: 15px;
}

.legend-free path.free,
.legend-free path.free:hover {
    fill: rgba(255, 255, 255, 0.2);
    cursor:default;
}

.active {
    fill: #FE8E05 !important;
    cursor: default !important;
}

.legend-booked path.booked,
.legend-booked path.booked:hover {
    fill: rgba(255, 255, 255, 0.05);
    cursor: default;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
}

.price-label {
    display: block;
    font-size: 18px;
    line-height: 21px;
}

.price-tag {
    font-size: 52px;
    line-height: 61px;
}

.button {
    padding: 24px 52px;
    background-color: #FE8E05;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}

.button:hover {
    margin: 2px;
    padding: 23px 51px;
    background-color: #fe8e05e0;
}

@media ( max-width: 1200px) {
    .container {
        min-width: 960px;
    }
    .select-cinema {
        width: 100%;
    }
}

@media ( max-width: 992px) {
    .container {
        min-width: 760px;
    }
    .session {
        flex-wrap: wrap;
    }
    .session-date {
       flex-basis: 70%;
       margin-bottom: 40px;
    }
    .session-time {
        order: 2;
    }
    .session-cinema {
        order: 3;
    }
    .menu-item {
        margin-right: 20px;
    }
}

@media ( max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .menu {
        position: absolute;
        left: 0;
        top: 40px;
        padding: 20px;
        margin-left: 20px;
        flex-direction: column;
        background-color: #621402;
        z-index: 9;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20%);
        transition: opacity 0.5s, transform 0.5s;
    }
    .menu-item:not(:last-child) {
        margin-bottom: 10px;
    }
    .m-menu {
        display: block;
        margin-left: 20px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .is-open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .film-description {
        margin-right: 30px;
    }
    .film {
        flex-direction: column;
    }
    .film-trailer {
        margin-right: auto;
        margin-left: 0;
        margin-top: 40px;
    }
}